<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>

	<header>
		<div class="container">
			<a id="a-title" href="{{ '/' | relative_url }}">
				<h1>{{ site.title | default: site.github.repository_name }}</h1>
			</a>
			<h2>{{ site.description | default: site.github.project_tagline }}</h2>

			<section id="buttons" style="display: flex; align-items: center;">
				<a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on
					GitHub</a>
				<iframe
					src="https://ghbtns.com/github-btn.html?user=xThaySan&repo=xthaysan.github.io&type=star&count=true"
					frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
			</section>
		</div>
	</header>

	<div class="container">
		{% if page.type and page.type == "writeup" %}
		<h1 id="main_informations">
			[<span style="text-transform: uppercase">{{ page.category }}</span>] {{ page.title }} - {{ page.point }}pts
		</h1>
		<section id="downloads">
			{% for file in page.files %}
			<a href="_files/{{ file }}" class="btn">{{ file }}</a>
			{% endfor %}
		</section>
		{% endif %}
		<section id="main_content">
			{{ content }}
		</section>
	</div>
</body>

</html>